.head{
    width: 100%;
    height: 65px;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    align-items: baseline;
}
.logo{
    padding-left:100px;
    font-family: Sassy Frass;
    font: bolder;
    font-weight: 900;
}
.icons{
    width: auto;
    margin: 10px auto;
    height: auto;
    padding: 5px 20px;
}
.crose{
    margin-left: -100px;
}
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;

&-work{
    justify-content: center;
    align-items: center;
    
        width: 50%;
        background-image: none;
        background-color: #cec7bb;
        &-sub{
        width: 50%;
        background-image: url(../img/pexels-jess-bailey-designs-876466.jpg);
        background-size: cover;
        background-repeat: no-repeat;

        &-heading{
            padding-top: 50%;
            // margin-top: 50%;
            padding-left: 10%;
            font-size: 24px;
        }
        &-text{
            padding-top: 10px;
            padding-left: 10%;
        }
        
        }
        &__heading{
            letter-spacing: 20px;
            font-size: 3.75rem;
            font-weight: 700;
            padding: 10px 100px;
            margin: 254px auto 0 0;    
        }
    &-icons{
        margin: 0 auto  0;
        margin-left: 100px; 
        
        &__font{
            // letter-spacing: 20px;
            font-size: 1.75rem;
            font-weight: 700;
            padding: 10px 20px;
            

        }
    }
}
}
@media (max-width:750px) {
    .home{
        height: auto;
    }
    .home-work-sub{
        width: 100%;
    }
    .home-work{
        width: 100%;
        
    }
}
